<!doctype html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Budget App | Account Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_app/css/main.css' %}">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous'>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Budget App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <!-- need to connect the "href" with the associated links in navbar -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myaccounts">My Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
        
    <!-- Main content -->
    <div class="container-fluid">
        <div class="container">
            <h2>Account_Name</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Transaction</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Notes</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <form>
                        <tr>
                            <td><input type="text" name="date"></td>
                            <td><input type="text" name="date"></td>
                            <td><input type="text" name="date"></td>
                            <td><input type="text" name="date"></td>
                            <td><input type="text" name="date"></td>
                            <td><button type="submit" class="btn btn-success">Add</button></td>
                        </tr>
                    </form>
                <tr>
                    <th scope="row">3/2/2019</th>
                    <td>Initialize</td>
                    <td>$100.00</td>
                    <td>n/a</td>
                    <td>End balance as of 3/1/2019</td>
                    <td class="btn-group" role="group">
                        <button class="btn btn-primary" href="#">Edit</button><button class="btn btn-danger" href="#">Delete</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3/3/2019</th>
                    <td>Mod Pizza</td>
                    <td>$10.00</td>
                    <td>Restaurant</td>
                    <td>Lunch</td>
                    <td class="btn-group" role="group">
                        <button class="btn btn-primary" href="#">Edit</button><button class="btn btn-danger" href="#">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>