.inline-b {
    display: inline-block;
    vertical-align: top;
}

.centered {
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

.bolded {
    font-weight: bold;
}

.acct {
    margin: 3%;
}

.add-acct {
    min-width: 18%;
    height: 50px;
    margin-top: 3%;
}